
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="margin-left:100px">
    <h2>Admin Sayfasına hoşgeldiniz sol menuden yapacağınız işlemi seçebilirsiniz</h2>
</div>
