@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Akademisyen Giriş Formu</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #808080;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="~/Content/indir.jpg" alt="Alternate Text" style="display: block; margin: 0 auto; height: 100px; width: 100px;" />
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Akademisyen Giriş Formu</h3>
                        <form action="@Url.Action("akademisyenGiris","Akademisyen")" method="post">

                            <div class="form-group">
                                <label for="tc">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="tc" name="tc">
                            </div>

                            <div class="form-group">
                                <label for="password">Şifre:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                            </div>

                            <div class="text-left">
                                <button type="submit" class="btn btn-secondary"> Şifremi unuttum </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

