
@{
    ViewBag.Title = "TalepOlusturmaSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-y5T/Rr+VMXaCuZhhTT3zUkAek5PXuxHdbikuuHL5xj2IqzI5+eUHxgF8QccOEmd" crossorigin="anonymous">
    <title>Talep Oluştur</title>
</head>
<body>
    <div style="margin-left:200px;width:50%">
        <div class="container mt-5">
            <h2>Talep Oluştur</h2>
            <form action=@Url.Action("talepOlusturma","Personal_information") method="post">
                <div class="mb-3">
                    <label for="konu" class="form-label">Konu:</label>
                    <input type="text" class="form-control" id="konu" name="konu" required>
                </div>
                <div class="mb-3">
                    <label for="mesaj" class="form-label">Mesaj:</label>
                    <textarea class="form-control" id="mesaj" name="mesaj" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Talep Oluştur</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></script>
</body>
</html>

